In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### What are tibbles?
* Tibbles are dataframes on steroid
* Fundamental data structure of `tidyverse`
    * From now on, we will work with tibbles as much as possible
* Easiest way to construct a tibble is corercing (coverting) a data.frame into a tibble
* Can create new tibbles using `tibble()`
* Use `tribble()` to document a table

In [7]:
my_df = data.frame(city = c("Honolulu", "LAX", "San Francisco"), population=c(348985, 3967000, 874961), state=c("HI", "CA", "CA"))
print(my_df)

           city population state
1      Honolulu     348985    HI
2           LAX    3967000    CA
3 San Francisco     874961    CA

In [11]:
my_tibble = as_tibble(my_df)
print(my_tibble)

# A tibble: 3 x 3
  city          population state
  <chr>              <dbl> <chr>
1 Honolulu          348985 HI
2 LAX              3967000 CA
3 San Francisco     874961 CA

In [28]:
# https://www.sciencebase.gov/catalog/item/58f7a16ee4b0b7ea5451f474
data_df = read.csv(file = 'data/Kahekili_coral.csv')
print(head(data, 2))

  Latitude Longitude Date.of.Collection     Sample.ID Core.Length Water.depth
1  20.9386 -156.6933            7/10/13 LobataHead01           50           2
2  20.9387 -156.6934            7/10/13 LobataHead02           18           2
  Lifespan Tissue.thickness Growth.rate Density Bioerosion.volume
1       43              5.1        1.17    1.04               6.6
2       21              5.6        0.88    1.08               5.9
  Calcification.rate Bioerosion.rate delta.N.15 delta.N.15..error.
1               1.10           72.32      11.29               1.76
2               0.94           56.03       8.44               0.12

In [27]:
data_tbl = as_tibble(data_df)
print(data_tbl)

# A tibble: 7 x 15
  Latitude Longitude Date.of.Collect… Sample.ID Core.Length Water.depth Lifespan
     <dbl>     <dbl> <chr>            <chr>           <int>       <int>    <int>
1     20.9     -157. 7/10/13          "LobataH…          50           2       43
2     20.9     -157. 7/10/13          "LobataH…          18           2       21
3     20.9     -157. 7/10/13          "LobataH…          19           2       26
4     20.9     -157. 7/10/13          "LobataH…          21           2       30
5     20.9     -157. 7/10/13          "LobataH…          28           2       29
6     20.9     -157. 7/10/13          "LobataH…          22           1       NA
7     20.9     -157. 7/11/13          "LobataH…          50           3       NA
# … with 8 more variables: Tissue.thickness <dbl>, Growth.rate <dbl>,
#   Density <dbl>, Bioerosion.volume <dbl>, Calcification.rate <dbl>,
#   Bioerosion.rate <dbl>, delta.N.15 <dbl>, delta.N.15..error. <dbl>

In [22]:
print(tibble(x=1:10, y=x^2))

# A tibble: 10 x 2
       x     y
   <int> <dbl>
 1     1     1
 2     2     4
 3     3     9
 4     4    16
 5     5    25
 6     6    36
 7     7    49
 8     8    64
 9     9    81
10    10   100

In [23]:
x = tribble(   ~x, ~y, ~z,
           "a", 2, 3.6,
           "b", 1, 8.5)
print(x)

# A tibble: 2 x 3
  x         y     z
  <chr> <dbl> <dbl>
1 a         2   3.6
2 b         1   8.5

### Tibble vs. Data.Frame

* You noticed that print of tibble is cleaners
  * Show only columns that fit inscreen

In [30]:
print(head(data_df))

  Latitude Longitude Date.of.Collection     Sample.ID Core.Length Water.depth
1  20.9386 -156.6933            7/10/13 LobataHead01           50           2
2  20.9387 -156.6934            7/10/13 LobataHead02           18           2
3  20.9387 -156.6932            7/10/13 LobataHead03           19           2
4  20.9388 -156.6931            7/10/13 LobataHead04           21           2
5  20.9451 -156.6932            7/10/13 LobataHead05           28           2
6  20.9386 -156.6932            7/10/13 LobataHead06           22           1
  Lifespan Tissue.thickness Growth.rate Density Bioerosion.volume
1       43              5.1        1.17    1.04               6.6
2       21              5.6        0.88    1.08               5.9
3       26              4.6        0.72    0.99              12.5
4       30              4.0        0.72    1.01               5.9
5       29              4.6        0.95    1.15               2.2
6       NA               NA        0.69    1.07              14.6
  Calcification.rate Bioerosion.rate delta.N.15 delta.N.15..error.
1               1.10           72.32      11.29               1.76
2               0.94           56.03       8.44               0.12
3               0.71           89.07      10.87               0.45
4               0.67           39.87      14.62               0.23
5               1.02           22.58       7.50               0.19
6               0.68           99.15      17.08               0.40

In [39]:
View(data_tbl)

  Latitude Longitude Date.of.Collection Sample.ID     Core.Length Water.depth
1 20.9386  -156.6933 7/10/13            LobataHead01  50          2
2 20.9387  -156.6934 7/10/13            LobataHead02  18          2
3 20.9387  -156.6932 7/10/13            LobataHead03  19          2
4 20.9388  -156.6931 7/10/13            LobataHead04  21          2
5 20.9451  -156.6932 7/10/13            LobataHead05  28          2
6 20.9386  -156.6932 7/10/13            LobataHead06  22          1
7 20.9373  -156.6935 7/11/13            LobataHead07  50          3
  Lifespan Tissue.thickness Growth.rate Density Bioerosion.volume
1 43       5.1              1.17        1.04     6.6
2 21       5.6              0.88        1.08     5.9
3 26       4.6              0.72        0.99    12.5
4 30       4.0              0.72        1.01     5.9
5 29       4.6              0.95        1.15     2.2
6 NA        NA              0.69        1.07    14.6
7 NA       5.1                NA          NA      NA
  Calcification.rate Bioerosion.rate delta.N.15 delta.N.15..error.
1 1.10               72.32           11.29      1.76
2 0.94               56.03            8.44      0.12
3 0.71               89.07           10.87      0.45
4 0.67               39.87           14.62      0.23
5 1.02               22.58            7.50      0.19
6 0.68               99.15           17.08      0.40
7   NA                  NA            8.17      0.19

In [59]:
sd(data_tbl$"Bioerosion.rate",  na.rm = TRUE)

[1] 29.29338